<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <table>
            <a th:href="@{/account/changepassword}">CHANGE PASSWORD</a>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>EMAIL</th>
                    <th>PHONENUMBER</th>
                    <th>ADDRESS</th>
                    <th>ROLE</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="employee : ${employees}">
                    <td th:text="${employee.id}"></td>
                    <td th:text="${employee.name}"></td>
                    <td th:text="${employee.email}"></td>
                    <td th:text="${employee.phone}"></td>
                    <td th:text="${employee.address}"></td>
                    <td th:text="${employee.user.role.name}"></td>
                             
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>